<mat-sidenav-container class="nav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <!-- Logo区域 -->
    <div class="sidenav-header">
      <mat-icon class="sidenav-icon">trending_up</mat-icon>
      <div class="sidenav-title">基金监控</div>
    </div>

    <!-- 导航菜单 -->
    <nav class="sidenav-nav">
      <a
        *ngFor="let item of navigationItems"
        class="nav-item"
        [class.active]="isActiveRoute(item.path)"
        (click)="navigateTo(item.path)"
      >
        <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
        <span class="nav-text">{{ item.label }}</span>
      </a>
    </nav>


  </mat-sidenav>

  <!-- 主内容区域 -->
  <mat-sidenav-content class="main-content">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>